body {
    margin: 0;
    background: #000;
}

.topmain {
    position: relative;
    height: 100vh;
}


/* video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url("../img/homebg02.jpg") no-repeat;
    background-size: cover;
    transition: 1s opacity;
} */

.vid01 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    z-index: 2;
    width: 100%;
    height: 100vh;
}

.vid02 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
    width: 100%;
    height: 100vh;
}

.maskicon {
    display: inline-block;
    position: absolute;
    z-index: 5;
}

.maskicon a:hover {
    cursor: url('../img/mouseicon.png'), auto !important;
}

.maskicon img {
    width: 100%;
    height: auto;
}

.mask1 {
    width: 25%;
    top: 24%;
}

.mask2 {
    width: 25%;
    bottom: 0%;
    left: 38%;
}

.mask3 {
    width: 16%;
    bottom: 35%;
    right: 20%;
}

.mask4 {
    width: 10%;
    top: 0;
    left: 40%;
}

.stopfade {
    opacity: 0.5;
}

#navmenu {
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 10;
}

#navmenu ul {
    list-style: none;
    text-align: right;
}

#navmenu ul li {
    margin: 10px 0;
}

#navmenu ul li span {
    margin: 8px 5px;
    font-family: "Noto Sans TC", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    font-size: 1.3rem;
    color: #fff;
    opacity: 0;
    transition: all .5s;
    position: relative;
    top: 5px;
    letter-spacing: 3px;
    text-shadow: 4px 2px 8px rgba(0, 0, 0, 0.4);
}

#navmenu ul li a {
    color: #fff;
    text-decoration: none;
}

#navmenu ul li a:hover>span {
    opacity: 1;
}

.navhome {
    position: absolute;
    bottom: 5%;
    right: 5%;
    z-index: 10;
}

.modal-body {
    padding: 0rem !important;
}

.modal-contentbg1 {
    background-color: none;
    background: url(../img/authorbg2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.modal-contentbg2 {
    background-color: #fff;
}

.modal-body p {
    padding: 20px 15px 5px 15px;
}

.authorow {
    padding: 5rem;
    !important
}

.authorow img {
    height: 95%;
}

.align-r {
    text-align: right;
}

.author-info {
    margin-top: 10rem;
    margin-bottom: 2rem;
    height: 50vh;
    padding: 0 1.5rem 1rem 5rem;
    overflow-x: hidden;
}

.author-info h1 {
    font-size: 2rem;
    color: #ffe600;
}

.author-info h3 {
    font-size: 1.2rem;
    color: #ffe600;
    height: 2rem;
    border-left: 8px solid #ffe600;
    padding-left: 15px;
}

.author-info p {
    font-size: 0.9rem;
    color: #fff;
    line-height: 1.8rem;
    padding: 0.5rem 0 2rem 0;
}

.backicon img {
    height: 80%;
    padding-top: 50px;
}

#style-3::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #rgba(0, 0, 0, 0.3);
}

#style-3::-webkit-scrollbar {
    width: 3px;
    background-color: #rgba(0, 0, 0, 0.3);
}

#style-3::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
    margin-top: 0;
    letter-spacing: 0.3rem;
}

#polina button {
    display: block;
    width: 80%;
    padding: 0.4rem;
    border: none;
    margin: 1rem auto;
    font-size: 1.3rem;
    background: rgba(255, 255, 255, 0.23);
    color: #fff;
    border-radius: 3px;
    transition: 0.3s background;
}

#polina button:hover {
    background: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 500px) {
    div {
        width: 70%;
    }
}

@media screen and (max-device-width: 800px) {
    html {}
    #bgvid {
        display: none;
    }
}